body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: black;
}

p {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1612189459328-13f9d03623b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80");
  background-repeat: repeat;
  margin-top: 200px;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
