body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
}

.container {
  background-color: black;
  width: 25rem;
  padding: 30px;
}

.scroll-div {
  width: 400px;
  height: 500px;
  background-color: black;
  overflow: hidden;
  overflow-y: scroll;
}

.content {
  padding: 20px;
}
