* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 247, 0.493);
}

.card-container {
  position: relative;
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  background-color: white;
}

.content {
  position: relative;
  color: black;
  z-index: 2;
  transition: all 1s;
  padding: 2rem;
  z-index: 2;
}

h3,
p,
a {
  margin: 2rem;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

p {
  line-height: 1.5rem;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  background-color: black;
}

.card-container::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 10px;
  background-color: crimson;
  transition: all 1s;
  z-index: 1;
}

.card-container:hover::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: crimson;
  transition: all 1s;
  z-index: 1;
}

.card-container:hover p,
.card-container:hover h3 {
  color: white;
  transition-delay: 0.4s;
}
