* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 247, 0.493);
}

.card-container {
  position: relative;
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  background-color: white;
}

.card-container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100%+5px);
  width: 100%;
  height: 100%;
  background-color: crimson;
  transition: all 1s;
  z-index: 1;
}

.card-container:hover::before {
  bottom: 0;
}

.content {
  position: relative;
  color: black;
  z-index: 2;
  transition: all 1s;
}
